html{
    background-image: url(https://static.wikia.nocookie.net/villains/images/7/7e/Jesus_7.webp/revision/latest?cb=20211208042128);
}

.escape.false-heading{
    text-align: center;
}

button{
    height: 100px;
    width: 50px;
}
