html{
    background-image: url(https://wallpaperaccess.com/full/1505299.jpg);
}


.void-heading{
    color: white;
    font-family: 'Nosifer', cursive;
    font-size: 100px;
    text-align: center;
}